<style>
    .main-panle {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), 
        url("../../../assets/newletterbakcground.jpg");

    }
</style>
<div class="main-panle bg-black">
    <app-landing-na-vbar></app-landing-na-vbar>
    <div class="h-[72.8dvh] w-[100%]">
        <app-verificationsend [data]="verificationMessage"></app-verificationsend>
        <app-steps (verificationMessageEvent) = "captureVerificationMessage($event)"></app-steps>
    </div>
</div>
<app-landingfooter></app-landingfooter>