<div class="bg-[#0a0a0a] fixed h-[6dvh] w-[100%] md:h-[100dvh] md:w-[6vmax] xl:w-[5vmax] flex justify-center items-center md:left-0 top-0">
    <div class=" md:flex-col flex md:w-[90%] md:h-[98.5%] h-[90%] w-[98.5%] justify-between">
        <div class="md:h-[10%] md:w-[100%] sm:w-[20%] h-[100%] flex justify-center items-center md:pb-4 sm:ml-0 ml-2">
            <span class="text-red-600 sm:text-[.8rem] font-extrabold text-[1.4vmax] md:text-[.6rem] lg:text-[.7rem]">MovieExpress</span>
        </div>
        <div class="md:h-[80%] md:w-[100%] w-[80%] h-[100%] sm:flex justify-center items-center hidden">
                <div class="sm:w-[90%] sm:h-[75%] sm:flex md:flex-col sm:justify-between sm:items-center">
                    @for (item of menuItemsList; track $index) {
                        <div class="md:w-full md:h-[10%] w-[10%] h-full sm:flex justify-center items-center hidden lg:text-[2vmax] md:text-[2.4vmax]">
                            <button (click)="redirectMenu(item.iconId)"><ng-icon [name]="item.iconName" color="white"></ng-icon></button>
                        </div>
                    }
                </div>
        </div>
        <div class="md:h-[10%] md:w-[100%]  w-[10%] h-[100%] flex justify-center items-center ">
           <button (click)="menuTrigger()" class="sm:hidden flex text-[1.6rem]"> <ng-icon name="heroBars3Solid" color="white"></ng-icon></button>
           <button (click)="redirectMenu(8)" class="sm:flex hidden bg-white lg:h-[3vmax] lg:w-[3vmax] md:h-[4vmax] md:w-[4vmax] sm:h-[4dvh] sm:w-[4dvh] rounded-full"></button>
        </div>
    </div>
</div>
@if(menuFlag){
    <div class="bg-black w-[40%] h-[55dvh] absolute right-0 top-0 sm:hidden flex justify-center mt-[6dvh] z-20">
        <div class="h-[98%] w-[90%] flex flex-col justify-between items-center mt-1">
            @for (item of menuItemsList; track $index) {
                <button (click)="redirectMenu(item.iconId)" class="bg-[#801717] rounded-lg sm:w-[100%] sm:h-[10%] flex justify-start items-center text-[20px] w-[90%] h-[10%] select-none active:bg-red-500">
                    <ng-icon class="ml-2" [name]="item.iconName" color="white"></ng-icon>
                    <span class="ml-2 text-sm flex sm:hidden">{{item.description}}</span>
                </button>
            }
            <div (click)="redirectMenu(8)" class="bg-slate-800 active:bg-slate-600 w-[100%] h-[10%] flex justify-start items-center text-white select-none">
                <div class="ml-2 w-[3dvh] h-[3dvh] rounded-full flex justify-center items-center bg-white"></div>
                <span class="ml-2">Profile</span>
            </div>
        </div>
    </div>
}
