<style>
    .pattern{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), 
        url("../../../assets/emailverifiactionbackground.jpg");

    }
</style>
<section class="bg-white dark:bg-blue-300 pattern bg-cover bg-center">
    <div class="container flex items-center min-h-screen px-6 py-12 mx-auto">
        <div class="flex flex-col items-center max-w-sm mx-auto text-center">
            <div class="w-full h-[50%] text-white font-extrabold text-3xl">
                <div class="ml-9 bg-black h-[18dvh] w-[26.3dvh] opacity-60 rounded-xl flex justify-center items-center">
                   <span class="{{style}}"> {{Text}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
